.swiper-button-next, .swiper-button-prev{
    border: 1px solid black;
    padding: 27px;
    border-radius: 100px;

    &:hover{
        border: 1px solid $laranja;
        &::after{
            transition: 0.5s;
            color: $laranja;
        }
    }

}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
    color: black;
    transition: 0.5s;
}
.vagoes .swiper-button-next, .vagoes .swiper-button-prev {
 top: 39px;
}

.vagoes{
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        right: 80px;
        left:auto
    }
}
.swiperSegmentos{
    
    .swiper-button-next{
        right: 0px;
        @media (max-width:400px) {
            left: auto;
            right: calc(50% - 63px);
        }
    }
    .swiper-button-prev{
        left: 0px;
        @media (max-width:400px) {
            left: auto;
            right: calc(50% + 17px);
        }
    }

    .swiper-button-next, .swiper-button-prev{
    top:40%;
    @media (max-width:400px) {
        top: 90%;
    }
    }
}
.swiperCases{
    img{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
        object-fit: cover;
        @media (max-width:991px) {
            max-height: 470px;
            min-height: 430px;
        }
        // VVVV LG + VVVV
        @media (min-width:992px) {
            height: 641px;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        top:89%;
        @media (max-width:991px) {
            top:95%;
        }
    }
    .swiper-button-prev{
        left: auto;
        right: 85px;
        @media (max-width:991px) {
            right: calc(50% + 10px);
        }
    }
    .swiper-button-next{
        left: auto;
        right: 0px;
        @media (max-width:991px) {
            right: calc(50% - 80px);
        }
    }
}
.swiperBanner{

    z-index: 10 !important;
    
    .swiper-button-prev{
        top: 85%;
        left: 36px;
        &:hover{
            background-color: #ffffff25;
        }
    }
    .swiper-button-next{
        right: auto;
        left: 36px;
        top:34%;
        &:hover{
            background-color: #ffffff25;
        }
        @media (max-width:767px) {
            top:85%;
            right: 36px;
            left: auto;
        }
    }
    .swiper-button-next, .swiper-button-prev{
        border: none;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        color: white;
    }
    .swiper-pagination{
        z-index: 1;
        top: 61%;
        left: 46px;
        width: fit-content;
        @media (max-width:767px) {
            height: fit-content;
            top: 86%;
            left: auto;
            right: auto;
        }
    }
    .swiper-pagination-bullet{
        position: relative;
        height: 30px;
        width: 30px;
        margin: 20px 0;
        opacity: 1;
        background-color: transparent;
        &:hover{
            background-color: #ffffff25;
        }
    }
    .swiper-pagination-bullet-active::after{
        background-color: white;
    }
    .swiper-pagination .swiper-pagination-bullet::after {
        content: "";
        border: solid 2px white;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        top: 10px;
        left: 10px;
    }
}
.swiperProdutosHome{
    filter: drop-shadow(0px 4px 13px rgba(0, 0, 0, 0.4));
    .pointer{
        cursor: pointer;
    }
    img{
        height: 596px;
        width: 100%;
        object-fit: cover;
        // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        @media (max-width:768px) {
            height: 305px;
        }
    }
    .texto{
        position: absolute;
        z-index: 4;
        bottom: 20px;
        left: 20px;
    }
    .efeito-img{
        background: linear-gradient(360deg, #353597 -38.09%, rgba(53, 53, 151, 0) 100%);
        height: 596px;
        width: 100%; 
        position: absolute;
        top: 0;
        left: 0;
        
        &:after{
            content: url(assets/images/seta-branca.png);
            background-color: $laranja;
            width: 66px;
            height: 66px;
            position: absolute;
            right: 0;
            bottom:0;
            display: flex;
            justify-content: end;
            padding-right: 26px;
            padding-top: 5px;
            align-items: center;
            transition: 0.6s;
            z-index: 2;
        }
        &:hover {
            &:after{
                transition: 0.6s;
                cursor: pointer;
                width: 100%;
            }
        }
        @media (max-width:768px) {
            height: 305px;
        }
    }
    
    .swiper-button-next, .swiper-button-prev {
        top: auto;
        bottom: 0px;
        @media (max-width:575px) {
            bottom: 174px;
        }
    }
    .swiper-button-next{
        right: auto;
        left: 77px;
        @media (max-width:575px) {
            right: calc(50% - 60px);
            left: auto;
        }
    }
    .swiper-button-prev{
        left: 0px;
        @media (max-width:575px) {
            left: calc(50% - 60px);
            right: auto;
        }
    }
}
.swiperNovidades{
    .swiper-button-next, .swiper-button-prev {
        top: auto;
        bottom: 0px;
        @media (max-width:575px) {
            bottom: 76px;
        }
    }
    .swiper-button-prev {
        left: auto;
        right: 75px;
        @media (max-width:575px) {
            left: calc(50% - 60px);
            right: auto;
        }
    }
    .swiper-button-next{
        @media (max-width:575px) {
            right: calc(50% - 60px);
            left: auto;
        }
    }
}