$azul-escuro:#353597;
$azul-claro:#2D647D;
$amarelo-botao:#DDFF15;
$cinza:#868686;
$branco: #fff;
$laranja:#FF7C1E;
$azul-roxo:#4848C6;

.azul-escuro{
    color:$azul-escuro;
}
.bg-laranja{
    background-color: $laranja;
}
.bg-azul-escuro{
    background-color: $azul-escuro;
}