@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variaveis';
@import 'tipografia';
@import 'swiper';

*{
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
a{
    text-decoration: none;
}
// VVVVVVVVVV HEADER VVVVVVVVVVV
.margin-top-header{
    margin-top: 110px;
}
header{
    box-shadow: 0px 10px 30px rgba(22, 22, 22, 0.2);
    background-color: #fff;
    z-index: 2000;
    .offcanvas.offcanvas-top {
        height: auto;
        @media (max-width:1199px) {
            z-index: -1;
            margin-top: 100px;
        }
    }
    .offcanvas-backdrop {
        z-index: -3;
        display: none;
    }
    .offcanvas-body{
        @media (max-width:1199px) {
            
            background-color: rgba(250, 250, 250, 0.329) !important;
        }
    }
    svg:hover path {
        fill:#FF7C1E;
    }
    .redes-header a{
        padding: 18px 15px;
    }
}
.menu-item a{
    font-size: 18px;
    font-weight: 500;
    color: $azul-escuro;
    padding: 40px 20px !important;
    white-space: nowrap;
    @media (max-width:1199px) {
        padding: 15px !important;
    }

}
.menu-item{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: fit-content;
}
.menu-item-type-post_type::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 4px solid $laranja;
    z-index: -1;
    transition: width .5s;
}
.nav-item::before{
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
}
.nav-item:hover:before{
    width: 100%;
}
.navbar-toggler {
    border: none;
    width: 150px !important;
    &:focus{
        box-shadow: none;
    }
}
.aberto{
    display: none;
}
// VVVVVVVVVV Fim do HEADER VVVVVVVVVV
.botao{
    border-radius: 3px;
    &:hover{
        filter: brightness(0.90);
    }
}
.py-6{
    padding-top: 60px;
    padding-bottom: 60px;
}
.ps-6{
    padding-left: 60px;
}
.ps-8{
    padding-left: 80px;
}
.py-8{
    padding-top: 80px;
    padding-bottom: 80px;
}
.py-10{
    padding-top: 100px;
    padding-bottom: 100px;
}
.w-fit{
    width: fit-content;
}
.borda-azul{
    border-top: 2px solid rgba(255, 255, 255, 0.07);
}
.position-h1{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 7;
}
.position-h1-single{
    position: absolute;
    top: 37%;
    left: 10%;
    z-index: 7;
}
.bg-gradient-azul-esquerda{
    background: linear-gradient(90deg, #4848C6 17%, rgba(72, 72, 198, 0) 100%);
}
.banner-pagina {
    background: linear-gradient(90deg, #4848C6 0%, rgba(72, 72, 198, 0) 100%);
    img{
    width: 100%;
    min-height: 480px;
    object-fit: cover;
    }
}
.efeito-banner{
    position: absolute;
    top:0;
    background: linear-gradient(90deg, #4848C6 0%, rgba(72, 72, 198, 0) 100%);
    z-index: 6;
    width: 100%;
}
.rad-100{
    border-radius: 110px;
}
.w-47{
    width: 47%;
}
.section-sobre-mrcla{
    img{
        width: 100%;
        height: 650px;
        object-fit: cover;
    }
    @media (max-width:575px) {
        background-color: $azul-escuro;
        img{
            padding-top: 25px;
            height: 271px;
        }
    }
}
.sobre-mrcla{
    max-width: 526px;
    min-width: 400px;
    height: auto;
    min-height: 420px;
    background-color: rgba(255, 255, 255, 0.719);
    filter: drop-shadow(0px 25px 40px rgba(0, 0, 0, 0.3));
    backdrop-filter: blur(10px);
    position: absolute;
    top: 110px;
    right: 70px;
    margin-left: 50px;
    &img{
        width: 1306px;
        height: 661px;
    }
}
.section-nossa-equipe{

    img{
        width: 153px;
        height: 143px;
        border-radius: 103px;
    }
    @media (max-width:575px) {
        .bg-azul-escuro{
            width: 158px !important;
        }
        img{
            margin: 0 7px;
        }
    }
    @media (min-width:576px) {
        img{
            margin-left: 10px;

        }
    }

}
.section-grupo-mitsui .img-grupo-mitsui{
    width: 100%;
    min-height: fit-content;
    object-fit: cover;
    height: 871px;
    object-position: center;

}
.grupo-mitsui{
    position: absolute;
    top: 110px;
    right: 70px;
    width: 460px;

}
.redes-fixed{
    position: fixed;
    top:50%;
    left: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    z-index: 5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
    a{
        padding: 18px 12px;
        display: flex;
        justify-content: center;
    }
    a:hover{
        svg path {
            fill:#FF7C1E;
        }
    }
    @media (max-width:575px) {
        display: none !important;
    }
}
.nesses-17 p{
    margin: 0;
    padding: 0px 0.6rem;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media (max-width:992px) {
        text-align: left;
    }
}
// VVVVVV PAGE PRODUTOS E SERVIÇOS VVVVVVV
.lista-produtos{
    li{
        display: flex;
        list-style: none;
        &::before{
            content: url(http://localhost/mitsui/wp-content/themes/mitsui/assets/images/list-style-produtos.png);
            padding-right: 15px;
        }
        p{
            padding-top: 3px;
            margin: 0;
        }
    }
}
.quebra-cabeca{
    img{
        box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 100%;
    }
    @media (min-width:1200px) {
        .position-quebra-cabeca-cima{
        position: absolute;
        top:60px;
        }
        .position-quebra-cabeca-baixo{
            position: absolute;
            top: 57%;
        } 
    }
    .row{
        @media (max-width:1199px) {
            box-shadow: 0px 15px 60px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }
    }
}
.section-servicos{
    h4{
        &::before{
            content: url(http://localhost/mitsui/wp-content/themes/mitsui/assets/images/before-servicos.png);
            padding-right: 15px;
            background-image: url(/assets/images/fundo-servicos-diferenciados.png);
        }
    }
}
.section-servicos-diferenciados{
    display: flex;
    align-items: center;
    height: 691px;
}
.section-nossos-produtos{
    img{
        height: 635px;
        object-fit: cover;
    }
    @media (max-width:767px) {
        background-color: $azul-roxo;
        .position-locomotiva{
            position: relative;
            padding: 20px;
        }
        img{
            width: 100%;
            height: 222px;
        }

    }
}
.position-locomotiva{
    position: absolute;
    top: 0;
    left: 0;

}
.section-terminal-de-cargas{
    img{

        object-fit: cover;
    }
    @media (max-width:767px) {
        background-color: $azul-roxo;
        .position-terminal{
            position: relative;
            padding: 20px;
        }
        img{
            width: 100%;
            height: 250px;
        }
    }
}
.position-terminal{
    position: absolute;
    top: 0;
    left: 0;
}
.section-modelo-sustentabilidade {
    img{
        filter: drop-shadow(0px 40px 50px rgba(0, 0, 0, 0.2));
        width: 100%;
        max-width: 352px;
    }
    p::before{
        content: url(http://localhost/mitsui/wp-content/themes/mitsui/assets/images/before-servicos.png);
        padding-right: 15px;
    }
}

// VVVVV BLOG VVVVV
.menu-categoria{
    display: flex;
    li{
        border-radius: 50px;
        &::before{
            display: none;
        }
        &:hover{
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397);
        }
        a{
            color: white;
            font-weight: 600;
            background-color: $laranja;
            border-radius: 50px;
            font-size: 16px;
            padding: 5px 15px !important;

        }
        &:first-child a{
            background-color: $azul-escuro;
        }
    }
}
.post-blog{
    img{
        object-fit: cover;
        width: 100%;
        height: 299px;
    }

    &:hover{
        .cinza{
            color: black;
        }
        img{
            filter: contrast(1.1);
        }
    }
}
.paginacao{
    height: 80px;
    span{
        padding: 15px 20px;
        background-color: $azul-roxo;
        color: white;
        font-weight: 500;
        border-radius: 3px;
    }
    a{
        padding: 15px 20px;
        background-color: $laranja;
        border-radius: 3px;
        color: white;
        font-weight: 500;
    }
}

//VVVVV SINGLE VVVVVVV

.redes-single{
    a:hover{
        filter: brightness(1.3);
    }
}
hr{
    color: gray;
}
.form-control {
    border: 2px solid #756E6E;
    border-radius: 3px;
    padding: 10px;
}
.form-submit{
    padding-top: 20px;
    input{
        background-color: $laranja;
        padding: 10px 20px; 
        color: white;
        border: none;
    }
}
.botao-form-email{
    input{
        background-color: $laranja;
        padding: 10px 20px; 
        color: white;
        border: none;
    }
}
.wpcf7-spinner {
    margin: 0 !important;
}
// VVVVVVVVVV FOOTER VVVVVVVVVV

.section-fale-conosco{
    background-color: $azul-roxo;
}
.accordion .menu-item-has-children{
    @media (max-width:990px) {
        
        &::before{
            content: "";
            width: 8px;
            height: 8px;
            border: none;
            border-top: #fff 2px solid;
            border-right: #fff 2px solid;
            position: relative;
            bottom: -31px;
            z-index: 3;
            transform: rotate(140deg);
            transition: all 0.5s ease-in-out;

        }
        &::after{
            content: "";
            width: 32px;
            height: 32px;
            border-radius: 100%;
            border: 1px solid #fff;
            top: 20px;
            z-index: 16;
            left: 4px;
            position: absolute;
        }

        &.active::before{
            transition: all 0.5s ease-in-out;
            transform: rotate(-45deg);
        }
        &.active::after{
            transition: all 0.5s ease-in-out;
            top:18px;
        }
    }
}
footer {

    .menu{
        @media (max-width:990px) {
            
            border-bottom: 2px solid rgba(255, 255, 255, 0.07);
            width: 100%;
        }
    }
    .menu-item-has-children a{
        padding: 15px !important;
    }
    .menu-item a{
        font-size: 18px;
        font-weight: 700;
        color: #fff !important;
        white-space: nowrap;
        @media (max-width:1199px) {
            padding: 15px !important;
        }
        @media (max-width:990px) {
            padding-left: 30px !important;
        }

    }
    .novidades-blog a{
        color: #fff;
        &:hover{
            color: $laranja !important;
        }
    }
    .sub-menu{
        padding: 0;
        @media (max-width:990px) {
            display: none;
        }
        li{
            flex-direction: row !important;
            align-items: center !important;
            padding-left: 13px;
            &:hover a{
                color: $laranja !important;
            }
            &:hover::before{
                border-top: solid 2px $laranja ;
                border-right: solid 2px $laranja ;
            }
        }
        li::before{
            height: 8px;
            width: 8px;
            border: none;
            border-top: #fff 2px solid;
            border-right: #fff 2px solid;

            position: relative;
            z-index: 3;
            transform: rotate(45deg);
        }
        a{
            font-size: 17px;
            font-weight: 400;
            padding: 5px !important;

        }

    }
}

#o2-admin-bar-wrapper {
    position: fixed;
    z-index: 99999;
    width: 33px;
    height: 32px;
    left: 0;
    top: 20%;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
    * {
        color: #fff;
    }
    #o2-admin-bar {
        display: none;
    }
    &:hover {
        width: 210px;
        #o2-admin-bar {
            display: block;
        }
    }
}
#o2-admin-bar {
    background: linear-gradient(90deg, #1e315b 0%, #496dbf 100%);
    #wpadminbar {
        margin-top: 12px;
        min-width: 210px;
        max-width: 210px;
        position: relative;
        height: fit-content;
        .ab-top-menu,
        .ab-top-menu {
            display: flex;
            flex-direction: column;
        }
        .ab-submenu {
            width: 210px;
        }
        #adminbarsearch {
            display: none;
        }
        .menupop {
            &.hover {
                .ab-sub-wrapper {
                    top: 0;
                    left: 100%;
                    min-width: 210px;
                    .ab-sub-wrapper {
                        left: 0;
                    }
                }
            }
        }
        #wp-admin-bar-top-secondary {
            position: absolute;
            top: -32px;
            left: 33px;
            width: 177px;
            .admin-bar-search {
                height: 0;
            }
        }
    }
}
.html-m0 {
    margin: 0 !important;
}

